<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gjh.mapper.MessageMapper">
	
	<resultMap id="MessageResultMap" type="com.gjh.model.Message">
		<id column="id" property="id" />
		<result column="name" property="name" />
		<result column="email" property="email" />
		<result column="subject" property="subject" />
		<result column="message" property="message" />
	</resultMap>

	<insert id="addOneMessage" parameterType="com.gjh.model.Message">
		insert into messageinfo values(null,#{name},#{email},#{subject},#{message})
	</insert>
	
	<select id="findAllMessage" resultMap="MessageResultMap">
		select * from messageinfo
	</select>
	
	<select id="findOneMessagebyid" resultMap="MessageResultMap">
		select * from messageinfo where id=#{arg0}
	</select>
</mapper>